<dl [attr.data-id]="playlist.id" [title]="playlist.name">
  <dt>Name:</dt>
  <dd>{{ playlist.name }}</dd>

  <dt>Favorite:</dt>
  <dd [style.fontSize.px]=" 10 + 10 ">
    {{ playlist.favourite ? "Yes" : "No" }}
  </dd>

  <dt>Color:</dt>
  <dd [style.color]="playlist.color"
      [style.background-color]="playlist.color">
    {{ playlist.color }}
  </dd>
  
  <!-- <dd [ngStyle]="{
    color: playlist.color, 
    background: playlist.color
  }">
    {{ playlist.color }}
  </dd> -->
</dl>
<input type="button" value="Edit" (click)="onEdit()" />
