<div class="form-group mb-3" [formGroup]="queryForm">
  <input
    type="text"
    formControlName="query"
    class="form-control"
    placeholder="Search"
  />
  <div *ngIf="queryForm.pending">Please wait... Validating...</div>

  <ng-container *ngIf="queryForm.get('query') as field">
    <ng-container *ngIf="field.dirty || field.touched">
      <div *ngIf="field.hasError('required')">
        Field is required
      </div>
      <div *ngIf="field.getError('censor') as error">
        Field cannot contain {{error.badword}}
      </div>
      <div *ngIf="field.getError('minlength') as error">
        Minimum length is {{ error.requiredLength }}
      </div>
    </ng-container>
  </ng-container>

<!-- 
  <div *ngFor="let field of markets.controls">
    <input type="text" [formControl]="field">
  </div>

  <button (click)="addMarket()">Add</button> -->


  <!-- <form-feedback [field]="queryForm.get('query')">
      <form-message type="required">Required</form-message>
  </form-feedback> -->
</div>

<!-- 
<input type="text" #queryRef">
<div class="input-group-append">
  <button class="btn btn-outline-secondary" 
  (click)="search(queryRef.value)">
    Search
  </button>
</div> -->
