<!-- .row>.col*2 -->

<div class="row">
  <div class="col">
    <app-items-list
      [items]="playlists | async"
      [selected]="selected | async"
      (selectedChange)="select($event)"
    >
    </app-items-list>
  </div>

  <div class="col">
    <div
      [ngSwitch]="mode"
      *ngIf="selected | async as playlist; else nothingSelectedREf"
    >
      <app-card *ngSwitchDefault>
        <app-playlist-details
          [playlist]="playlist"
          (edit)="edit()"
        ></app-playlist-details>
      </app-card>

      <app-card *ngSwitchCase="'edit'">
        <app-playlist-form
          (cancel)="cancel()"
          (save)="save($event)"
          [playlist]="playlist"
        ></app-playlist-form>
        <footer>
          *read the contract!
        </footer>
      </app-card>
    </div>
  </div>
</div>

<ng-template #nothingSelectedREf>
  Please select playlist
</ng-template>
