<p>{{ message }}</p>

<input type="text" class="login" 
  [(ngModel)]="credentials.username" />

<input type="password" class="password" 
  [value]="credentials.password"
  (input)="credentials.password = $event.target.value" />

<input type="button" value="Login" (click)="login()" />
