<form #editFormRef="ngForm" (submit)="onSave(editFormRef.value)" >

  <div class="form-group">
    <label>Name:</label>
    <input type="text" [ngModel]="playlist.name" name="name" class="form-control" />
  </div>
  {{ playlist.name }}

  <div class="form-group">
    <label>Favourite:</label>
    <input type="checkbox" [ngModel]="playlist.favourite" name="favourite" />
  </div>

  <div class="form-group">
    <label>Color:</label>
    <input type="color" [ngModel]="playlist.color" name="color" />
  </div>
  <input type="button" value="Cancel" (click)="onCancel()" />
  <input type="submit" value="Save"/>
</form>
