<div class="card">
  <div class="card-body">
    <ng-content></ng-content>
  </div>
  <div class="card-footer" #footer [hidden]="!footer.children.length">
      <ng-content select="footer">
      </ng-content>
  </div>
</div>