<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" routerLinkActive="pancakes active" routerLink="/"
      >MusicApp</a
    >

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="pancakes active"
            routerLink="/music"
            >Music Search</a
          >
        </li>
        <li class="nav-item" routerLinkActive="active">
          <!-- <a class="nav-link" [routerLink]="['/playlists',id,'comments',comment_id]">Playlists</a> -->
          <a class="nav-link" [routerLink]="['/playlists']">Playlists</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <!-- <div class="col">
      <app-music-search-view></app-music-search-view>
    </div>
    <div class="col">
      <button (click)="hide = !hide">Toggle</button>
      <app-music-search-view *ngIf="!hide">
      </app-music-search-view>
    </div> -->
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
