<!-- .row*2>.col -->

<div class="row">
  <div class="col">
    <app-search-form
      [query]="queryChanges | async"
      (queryChange)="search($event)"
    >
    </app-search-form>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Found {{(albumsChanges | async)?.length}} results</p>

    <app-albums-grid
      *ngIf="!hide"
      [albums]="albumsChanges | async"
    ></app-albums-grid>
  </div>
</div>
